{% load static %}

<html>
<head>
    <title>Hyper Text Visual Art</title>
    <meta charset="UTF-8">
    <meta name="description" content="Sztuka wizualna">
    <meta name="keywords" content="Sztuka, HTML, JS">
    <meta name="author" content="Marcin Pieczka">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/comments.css' %}">
    {% block styles %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sprintf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/vue.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/utils.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/menu.js' %}"></script>
    {% block scripts %}
    {% endblock %}
</head>
<body>
    {% verbatim %}
    <div class="navbar" id="vue-menu-app">
        <a class="navbar-a" href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Works
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="navbar-a" href="/work-1">Work 1</a>
                <a class="navbar-a" href="/work-2">Work 2</a>
            </div>

        </div>
        <div class="dropdown">
            <button class="dropbtn">Blogs
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a class="navbar-a" href="/blogs">Find a Blog</a>
                <a v-cloak v-if="is_logged_in" class="navbar-a" href="/my-blog">My Blog</a>

            </div>
        </div>

        <a v-cloak v-if="!is_logged_in && !is_checking_authentication" class="navbar-a-right" href="register">Register</a>
        <a v-cloak v-if="!is_logged_in && !is_checking_authentication" class="navbar-a-right" href="login">Login</a>
        <a v-cloak v-if="is_logged_in && !is_checking_authentication" class="navbar-a-right" href="account">Logged in as <strong>{{ username }}</strong></a>
        <a v-cloak v-if="is_logged_in && !is_checking_authentication" class="navbar-a-right" href="logout">Logout</a>
        <a v-cloak v-if="is_logged_in && !is_checking_authentication" class="navbar-a-right" href="register">Change Password</a>
    </div>
    {% endverbatim %}
    {% block content %}
    {% endblock %}
</body>
</html>
