{% extends 'app/base.html' %}
{% load static %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'css/shop.css' %}">
{% endblock %}
{% block scripts %}
	<script type="text/javascript" src="{% static 'js/shop.js' %}"></script>
{% endblock %}
{% block content %}
{% verbatim %}
<div id="vue-shop-app">
    <a id="cart" v-model="prods_in_cart" href="/cart">
        <img src="/static/img/cart.png" id="cart-img">{{prods_in_cart}}
    </a>
    <div class="categories-container">
        <div v-for="category in categories" v-if="got_categories">
            {{ category + "s"}}
        </div>
    </div>
    <div class="products-container">
        <div v-for="line in products_to_show">
            <div class="product-line" v-for="product in line">
                <div class="product">
                    <img v-bind:src="'/static/img/' + product.img_name + '.jpg'" class="product-image">
                    <div>{{'cena: ' + product.price + 'zł'}}</div>
                    <button class="add-to-cart-btn" v-on:click="add_to_cart(product.img_name)">
                        Dodaj do koszyka
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endverbatim %}
{% endblock content %}